@keyframes shooting_star {
  0% {
    top: -10%;
    left: 55%;
  }

  75% {
    top: -10%;
    left: 55%;
  }

  100% {
    top: 48%;
    left: -15%;
  }
}

@keyframes star_shine {
  50% {
    filter: drop-shadow(0 0 0 rgba(250, 230, 126, 0));
  }

  100% {
    // opacity: 1;
    filter: drop-shadow(0 0 8px rgba(250, 230, 126, 0.9));
  }
}

@mixin shine($name, $duration, $delay) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

div.login_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url('/pictures/login/background.png');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;



  img.shooting_star_white {
    position: absolute;
    animation: shooting_star 6s 1s ease-in-out infinite;
    width: 5%;
  }


  img.logo {
    width: 30vw;
    margin: 10vh auto;
  }

  img.shooting_star_gold {
    width: 20vw;
    position: absolute;
    top: 10vh;
    right: 6vw;
  }

  img.three_stars {
    @include shine(star_shine, 2.5s, 0.5s);
    width: 15vw;
    position: absolute;
    top: 60vh;
    left: 5vw;
  }


  h2 {
    padding-top: 20px;
    @include h2_PC;
    @include flex_hm;
    color: $primaryBrandWhite;
  }

}